@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nico Moji', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  background-color: #d8d6d6;
  /* background-color: #c4c4c4; */
  /* background-color: #adadad; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-itim {
  font-family: 'Itim', cursive;
  font-weight: bold;
  font-size: 16px;
}